odoo-test-helper
vcrpy
vcrpy-unittest

# DONT MERGE
odoo-addon-delivery-package-automatic @ git+https://github.com/OCA/delivery-carrier.git@refs/pull/642/head#subdirectory=setup/delivery_package_automatic
